<div class="container-fluid h-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-md-6 col-lg-4">
      <h2 class="text-lg font-semibold mb-4">Please enter your email</h2>
      <form (submit)="onSubmit($event)" class="flex flex-col">
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          class="border-2 border-gray-300 rounded-md p-2 mb-4 focus:border-blue-500 focus:outline-none text-black"
          required
          placeholder="Email Address"
        />
        <button
          type="submit"
          class="bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-600"
        >
          Send
        </button>
      </form>
    </div>
  </div>
</div>
