<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div>
  <nav class="flex items-center justify-between px-4 py-3 m-3 bg-transparent text-gray-700">
    <div class="flex items-center">
      <img src="assets/img/icon.png" alt="logo" class="w-12 h-12 transform hover:scale-110 transition-transform duration-300">
    </div>
    <div class="hidden lg:flex lg:items-center lg:space-x-4">
      <a href="/about" class="flex items-center py-2 px-4 text-teal-200 hover:text-white transition duration-300 ease-in-out hover:bg-zinc-700 rounded-lg transform hover:-translate-y-1">
        <i class="fas fa-info-circle mr-2"></i>
        About Us
      </a>
      <a href="/home" class="flex items-center py-2 px-4 text-teal-200 hover:text-white transition duration-300 ease-in-out hover:bg-zinc-700 rounded-lg transform hover:-translate-y-1">
        <i class="fas fa-home mr-2"></i>
        Home
      </a>
      <a href="/plans" class="flex items-center py-2 px-4 text-teal-200 hover:text-white transition duration-300 ease-in-out hover:bg-zinc-700 rounded-lg transform hover:-translate-y-1">
        <i class="fas fa-list-alt mr-2"></i>
        Services
      </a>
      <a href="/crud" class="flex items-center py-2 px-4 text-teal-200 hover:text-white transition duration-300 ease-in-out hover:bg-zinc-700 rounded-lg transform hover:-translate-y-1">
        <i class="fas fa-edit mr-2"></i>
        CRUD
      </a>
      <button href="/explore" class="flex items-center py-2 px-4 text-teal-200 hover:text-white transition duration-300 ease-in-out hover:bg-zinc-700 rounded-lg transform hover:-translate-y-1">
        <i class="fas fa-compass mr-2"></i>
        Explore
      </button>
    </div>
    <!-- Mobile menu button -->
    <div class="lg:hidden">
      <button type="button" class="text-teal-200 hover:text-white focus:outline-none focus:text-white">
        <i class="fas fa-bars fa-lg"></i>
      </button>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
