
/* Estilos para el botón "More" */
.more-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  /* Estilos adicionales para los miembros del equipo */
  .team-member {
    position: relative;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-out forwards;
  }
  .card:hover {
    transform: scale(1.05) translateY(-5px);
    transition: transform 0.3s ease-in-out;
  }
  .container {
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    padding: 20px;
  }
  
  .item {
    flex-basis: 30%; /* Cada elemento ocupa aproximadamente un tercio del contenedor */
    text-align: center; /* Centra el texto dentro de cada elemento */
  }
  
  /* Estilos adicionales para mejorar la apariencia */
  .item p {
    padding: 10px;
    border: 1px solid #ccc; /* Borde ligero para visualizar los límites de cada sección */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  
  